.tictactoeboard
{
    width: 400px;
    height: 400px;
    margin: 0 auto;
    background-color: bisque;
    color:coral;
    border: 3px solid black;
    border-radius: 3px;

    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    repeat(3, 1fr);    

}

.square
{
border: 2px solid gray;
border-radius: 2px;
font-family: Times New Roman;
font-weight: bolder;
font-style: italic;
font-size: medium;
display: flex;
justify-content: center;
align-items: center;
}